body {
    font-family: 'Roboto';
    background-image: url(/img/Colored-Pencils.jpg);
    background-size: cover;
}

h1 {
    background-image: ;
    color: hotpink;
    text-align: right;
}

.blue-bg {

}
